<div class="galleryWrapper" id="adminGallery">
    <div class="adminImages">
        <span class="redact">1</span>
        <span class="delete">2</span>
    </div>
    <div class="adminImages">
        <span class="redact">1</span>
        <span class="delete">2</span>
    </div>
    <div class="adminImages">
        <span class="redact">1</span>
        <span class="delete">2</span>
    </div>
    <div class="adminImages">
        <span class="redact">1</span>
        <span class="delete">2</span>
    </div>
    <div class="adminImages">
        <span class="redact">1</span>
        <span class="delete">2</span>
    </div>
    <div class="adminImages" id="addImage">
    </div>
</div>

<div class="galleryWrapper" id="userGallery">
    <div class="userImages">
    </div>
    <div class="userImages">
    </div>
    <div class="userImages">
    </div>
    <div class="userImages">
    </div>
    <div class="userImages">
    </div>
</div>